// #5B605F - panel boczny, nawigacja
// #4a4a49 - nagłówek, , kolor tekstu w kolumnach
// #FF6600 - przyciski, wyróżnienia, nagłówki ekranów
// #FFFFFA - kolor tła ekranów
// #3498DB - kolor wiadomości typu info,
// #FFB03B - kolor wiadomości typu warning
// #468966 - kolor wiadomości typu success
// #BD4932 - kolor ikony kosza
// #A1A194 - kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji

$sidebarColor:#5B605F;
$navColor:#5B605F;
$headingColor: #4a4a49;
$buttonColor:  #FF6600;
$backgroundColor: #FFFFFA;
$infoColor: #3498DB;
$warningColor: #FFB03B;
$successColor: #468966;
$binColor: #BD4932;
$tabDatColor: #A1A194;
